.header-info{
    font-size: 1.3em;
    flex-grow: 4;
}
.header-score-play2{
    display: flex;
    flex-grow: 2;
}

@keyframes playanimation{
    0%{
        color: transparent;
    }
    100%{
        color: white;
    }
}

.playerh1{
    display: none;
    position: absolute;
    animation:playanimation 1s ease-in-out infinite normal ;
    transform: translate(-50%);
    left: 50%;
    font-size: 2em;
}
.modeGameChoose{
    /* display: none; */
}
.handGameChoose{
    /* display: none; */
}
.choose{
    display: none;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 80%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px black;
    color: hsl(237, 49%, 15%);
    text-align: center;
}
.choose > button{
   width: 40%;
   margin: 5px;
   font-weight: bolder;
}
.choose > button:hover{
    background-color:lightblue;
}
