    @media screen and (min-width:451px) {
    
    body{
        max-width:100%;
        height: 100vh;
        min-height: 450px;
    }
    header{
        flex-grow: 0;
    }
    .header-div{
        width: 55%;
        min-width: 400px;

    }
    .home{
        position: absolute;
        display: flex;
        width: 200% ;
        /* left: -100% ; */
    }
    .main-select-hand{
        width: 450px;
        margin: auto;
        background-size: 50% 50%;
        background-position-y:70%;
    }
    .simpleGame{
        display: block;
    }
    
    .bonusGame{
        order: 1;
    }
    .hands{
        width:30%;
        height: 70%;
    }
    .simpleGame .hand-paper{
        top:20%;
        left: 5%;
    }

    .simpleGame .hand-scissors{
        top: 20%;
        right:5%;
    }
    .simpleGame .hand-rock{
        top:10%;
    }
    /* .countdown>h1{
        transform: translate(0, -5%);
       font-size: 15em;
    } */
    
    .main-result{
        width: 100%;
    }
    .section-game-hands{
        width: 20%;
        height: 50%;
    }
    .player-hand{
        left: 15%;
    }
    .game-hand{
        right: 15%;
    }
    .p-you{
        position: absolute;
        top: 8%;
        left: 21.2%;
        font-size: 1.2em;
    }
    .p-house{
        position: absolute;
        top: 8%;
        right: 19.3%;
        font-size: 1.2em;
    }
    .screenButtonGame{
      bottom: 0%;
      height: max-content;      
    }
    .result-msg {
       position: absolute;
       top: 40%;
    }
    .result-msg h1{
        font-size: 2.5em;
    }
    .result-msg > button{
        /* width: 15vw; */
        font-size: 0.8em;
        height: 40px;
    }
    footer{
        flex-grow: 0;
        display: flex;
        justify-content: right;
    }
    footer > button{
        min-width: 10px; 
        max-width: max-content;
        margin-right: 30px;   
        margin: 5px;
        font-size: 0.5em;
        
        
    }
    .attribution{
        text-align: left;
        margin:2px;
        font-size: 10px;
    }
}